<div class="cards-container row m-0 border border-white">
	<div class="col-12 col-md-4 offset-md-1 p-3 bg-light border border-white">
		<div [hidden]="userChoice !== 0" 
			class="card text-center">
			<img src="../../assets/images/rock.png"
				alt="Rock hand picture">
				<label>Rock</label>
		</div>
		<div [hidden]="userChoice !== 1" 
			class="card text-center">
			<img src="../../assets/images/paper.png"
				alt="Rock hand picture">
				<label>Paper</label>
		</div>
		<div [hidden]="userChoice !== 2" 
			class="card text-center">
			<img src="../../assets/images/scis.png"
				alt="Rock hand picture">
				<label>Scis</label>
		</div>
	</div>

	<div class="col-12 col-md-2 p-3 bg-light border border-white text-center">
		<label>VS</label>
	</div>

	<div class="col-12 col-md-4 p-3 bg-light border border-white">
		<div [hidden]="computerChoice !== 0" 
			class="card text-center">
			<img src="../../assets/images/comprock.png"
				alt="Rock hand picture">
				<label>Rock</label>
		</div>
		<div [hidden]="computerChoice !== 1" 
			class="card text-center">
			<img src="../../assets/images/comppaper.png"
				alt="Rock hand picture">
				<label>Paper</label>
		</div>
		<div [hidden]="computerChoice !== 2" 
			class="card text-center">
			<img src="../../assets/images/compscis.png"
				alt="Rock hand picture">
				<label>Scissors</label>
		</div>
	</div>
</div>
<div class="container text-center">
	<h1 [hidden]="result !== 0">Draw</h1>
	<h1 [hidden]="result !== 1">Lose</h1>
	<h1 [hidden]="result !== 2">Win</h1>
</div>
<button (click)="playAgain()"
	class="btn btn-outline-primary play-again">Play again</button>