<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" target="_blank" href="https://github.com/DJilanov/Angular5-event-driven-boilerplate">
        <i class="fa fa-1x fa-github" aria-hidden="true"></i>
        <span translate>Angular 5 Rock Paper Scissor</span>
    </a>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li
                class="nav-item">
                <a [class.active]="activeTab === 'home'"
                    class="nav-link" routerLink="/" translate>Home</a>
            </li>
            <li
                class="nav-item">
                <a [class.active]="activeTab === 'game'"
                    class="nav-link" routerLink="/game" translate>Game</a>
            </li>
            <li
                class="nav-item">
                <a [class.active]="activeTab === 'about-me'"
                    class="nav-link" routerLink="/about-me" translate>About me</a>
            </li>
        </ul>
    </div>
</nav>