@import '../../variables';

:host {
    flex: 1 0 auto;
}

.masthead-followup {
    > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .row {
        flex: 1 0 auto;
    }
}