@import '../../variables';

:host {
    flex: 1 0 auto;
}

.cards-container {
    > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .card {
        flex: 1 0 auto;

        padding: 1.5rem;
    }
}