
<div clas="home-page">
    <div class="container">
        <div class="row align-items-center">
            <div class="text-center small-top-margin">
                <h1 class="mb-3 bd-text-purple-bright" translate>Angular 5 boilerplate that utilize service bus architecture</h1>
                <p class="lead" translate>
                    Build responsive, bulletproof projects on the web with the boilerplate that is great from the smallest to atomic projects.
                </p>
                <p class="lead mb-4" translate>
                    The boilerplate is an open source toolkit for developing with Angular 5. Quickly prototype your ideas or build your entire app with our extensive prebuilt components that asist your data transfer and error handling.
                </p>
            </div>
        </div>
    </div>
    <div class="masthead-followup row m-0 border border-white">
        <div class="col-12 col-md-4 p-3 p-md-5 bg-light border border-white">
            <div class="row">
                <!-- Icon by Bytesize https://github.com/danklammer/bytesize-icons -->
                <svg xmlns="http://www.w3.org/2000/svg" focusable="false" width="32" height="32" fill="none" stroke="currentcolor" stroke-width="2" class="text-primary mb-2" viewBox="0 0 32 32" stroke-linecap="round" stroke-linejoin="round">
                    <title>Import icon</title>
                    <path d="M28 22v8H4v-8M16 4v20m-8-8l8 8 8-8"></path>
                </svg>
            
                <h3 translate>Installation</h3>
                <p translate>
                    <span translate>Just download the fresh boilerplate. Everything is ready to go.</span>
                    <br/>
                    <span translate>For more details how to use it like pro, just read the docs.</span>
                </p>
            </div>
            <a class="btn btn-outline-primary" target="_blank" href="https://github.com/DJilanov/Angular5-event-driven-boilerplate">Download boilerplate</a>
        </div>
          
        <div class="col-12 col-md-4 p-3 p-md-5 bg-light border border-white">
            <div class="row">
                <!-- Icon by Bytesize https://github.com/danklammer/bytesize-icons -->
                <svg xmlns="http://www.w3.org/2000/svg" focusable="false" width="32" height="32" fill="none" stroke="currentcolor" stroke-width="2" class="text-primary mb-2" viewBox="0 0 32 32" stroke-linecap="round" stroke-linejoin="round">
                    <title>Download icon</title>
                    <path d="M9 22c-9 1-8-10 0-9C6 2 23 2 22 10c10-3 10 13 1 12m-12 4l5 4 5-4m-5-10v14"></path>
                </svg>
            
                <h3 translate>What do we use</h3>
                <ul>
                    <li>
                        Angular 5 + Angular Animations
                    </li>
                    <li>
                        Bootstrap 4
                    </li>
                    <li>
                        Font-Awesome
                    </li>
                </ul>
            </div>
            <a class="btn btn-outline-primary" routerLink="/docs" translate>Explore the docs</a>
        </div>
          
        <div class="col-12 col-md-4 p-3 p-md-5 bg-light border border-white">
            <div class="row">
                <!-- Icon by Bytesize https://github.com/danklammer/bytesize-icons -->
                <svg xmlns="http://www.w3.org/2000/svg" focusable="false" width="32" height="32" fill="none" stroke="currentcolor" stroke-width="2" class="text-primary mb-2" viewBox="0 0 32 32" stroke-linecap="round" stroke-linejoin="round">
                    <title>Lightning icon</title><path d="M18 13l8-11L8 13l6 6-8 11 18-11z"></path>
                </svg>
                <h3 translate>Official Themes</h3>
                <p translate>
                    Take theming to the next level utilizing Bootstrap 4.
                </p>
            </div>
            <a target="_blank" href="https://themes.getbootstrap.com" class="btn btn-outline-primary" translate>Browse themes</a>
        </div>
    </div>
</div>