
<div clas="home-page">
    <h1 class="mb-3 bd-text-purple-bright text-center small-top-margin" translate>Angular 5 Rock Paper Scissors game that utilize service bus architecture</h1>
    <div class="cards-container row m-0 border border-white">
        <div class="col-12 col-md-4 p-3 p-md-5 bg-light border border-white">
            <div class="card">
                <!-- Icon by Bytesize https://github.com/danklammer/bytesize-icons -->
                <svg xmlns="http://www.w3.org/2000/svg" focusable="false" width="32" height="32" fill="none" stroke="currentcolor" stroke-width="2" class="text-primary mb-2" viewBox="0 0 32 32" stroke-linecap="round" stroke-linejoin="round">
                    <title>Import icon</title>
                    <path d="M28 22v8H4v-8M16 4v20m-8-8l8 8 8-8"></path>
                </svg>
            
                <h3 translate>Source code</h3>
                <p translate>
                    <span translate>You can easy check it out from the GitHub repo. </span>
                </p>
            </div>
            <a class="btn btn-outline-primary" target="_blank" href="https://github.com/DJilanov/rock_paper_scissor">Go to the repo</a>
        </div>
          
        <div class="col-12 col-md-4 p-3 p-md-5 bg-light border border-white">
            <div class="card">
                <!-- Icon by Bytesize https://github.com/danklammer/bytesize-icons -->
                <svg xmlns="http://www.w3.org/2000/svg" focusable="false" width="32" height="32" fill="none" stroke="currentcolor" stroke-width="2" class="text-primary mb-2" viewBox="0 0 32 32" stroke-linecap="round" stroke-linejoin="round">
                    <title>Download icon</title>
                    <path d="M9 22c-9 1-8-10 0-9C6 2 23 2 22 10c10-3 10 13 1 12m-12 4l5 4 5-4m-5-10v14"></path>
                </svg>
            
                <h3 translate>What do we use</h3>
                <ul>
                    <li>
                        Angular 5
                    </li>
                    <li>
                        Bootstrap 4
                    </li>
                    <li>
                        Font-Awesome
                    </li>
                </ul>
            </div>
            <a class="btn btn-outline-primary" routerLink="/docs" translate>Explore the docs</a>
        </div>
          
        <div class="col-12 col-md-4 p-3 p-md-5 bg-light border border-white">
            <div class="card">
                <!-- Icon by Bytesize https://github.com/danklammer/bytesize-icons -->
                <svg xmlns="http://www.w3.org/2000/svg" focusable="false" width="32" height="32" fill="none" stroke="currentcolor" stroke-width="2" class="text-primary mb-2" viewBox="0 0 32 32" stroke-linecap="round" stroke-linejoin="round">
                    <title>Lightning icon</title><path d="M18 13l8-11L8 13l6 6-8 11 18-11z"></path>
                </svg>
                <h3 translate>How to play</h3>
                <p translate>
                    There are plenty versions of the game. I personally prefer the classic one.
                </p>
            </div>
            <a target="_blank" href="https://en.wikipedia.org/wiki/Rock%E2%80%93paper%E2%80%93scissors" class="btn btn-outline-primary" translate>Read more in Wikipedia</a>
        </div>
    </div>
</div>