@import '../../../variables';

:host {
    flex: 1 0 auto;
}

.cards-container {
    > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .card {
        flex: 1 0 auto;
        height: 100%;
        padding: 1.5rem;

        img {
            height: 100%;
        }
    }
}