<div class="cards-container row m-0 border border-white">
	<div class="col-12 col-md-4 p-3 p-md-5 bg-light border border-white">
		<div (click)="select(0)" 
			class="card text-center">
			<img src="../../assets/images/rock.png"
				alt="Rock hand picture">
				<label>Rock</label>
		</div>
	</div>

	<div class="col-12 col-md-4 p-3 p-md-5 bg-light border border-white">
		<div (click)="select(1)" 
			class="card text-center">
			<img src="../../assets/images/paper.png"
				alt="Paper hand picture">
			<label>Paper</label>
		</div>
	</div>
		
	<div class="col-12 col-md-4 p-3 p-md-5 bg-light border border-white">
		<div (click)="select(2)" 
			class="card text-center">
			<img src="../../assets/images/scis.png"
				alt="Scissor hand picture">
				<label>Scissor</label>
		</div>
	</div>
</div>