<div class="about-me-page">
    <div class="container">
        <div class="col-xl-3 col-md-4 col-xs-12">
                <img src="../../assets/images/me.png"
                    alt="Dimitar Jilanov picture">
        </div>
        <div class="col-xl-9 col-md-8 col-xs-12">
            <h3 translate>About me</h3>
            <p translate>You’re here, so I guess it would be rude not to introduce myself. My name is Dimitar Jilanov (DJ) and I am passionate about helping people just like you to find their toolkit and use it to create fast and beautiful applications all over the web.</p>

            <h3 translate>So, How Did I Get Here?</h3>
            <p translate>After years of experience with creating a wide variety of products and adapting to the ever changing needs of the modern world and businesses I understood that high-end software development requires the strive for perfection for each element of the software during all stages of its development, to assure that the end-user can experience the highest possible quality of service. This includes anything from building interaction designs to front-end web development, as well as working with NodeJS, TypeScript, NativeScript, Angular5 and many others. I have confidence in my own ability to overcome any challenge I come across - from concept sketches to pixel perfect mock ups and ready-made HTML prototypes.</p>
        </div>
    </div>
</div>